{% extends 'header.html' %}
{% block content %}
<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h2>Nombre del episodio: {{name}}</h2>
    <h2>Fecha que estuvo al aire: {{air_date}}</h2>
    <h2>Código de episodio: {{episode}}</h2>

<table>
    <tr>
        <th>Personajes</th>
    </tr>

    {% for char in characters%}
    <tr>
        <td><a href="/character/{{char.id}}">{{char.name}}</a></td>
    </tr>
    {% endfor %}
    
</table>
</body>
{% endblock %}