{% extends 'header.html' %}
{% block content %}

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h2>Nombre del lugar: {{name}}</h2>
    <h2>Tipo del lugar: {{type}}</h2>
    <h2>Dimensión del lugar: {{dimension}}</h2>
    
    <table>
        <tr>
            <th>Residentes</th>

        </tr>
        {% for char in characters%}
        <tr>
            <td><a href="/character/{{char.id}}">{{char.name}}</a></td>
        </tr>
        {% endfor %}
    </table>


</body>


{% endblock %}